<div class="sidebar">
    <div class="sidebar-avatar">
        {% if site.icon %}
        <img src="/assets/img/{{ site.icon }}" alt="icon">
        {% endif %}
    </div>
    <h2 class="sidebar-name">{{site.first_name}} {{ site.last_name }}</h2>
    {% if site.description %}<p class="sidebar-bio">{{ site.description }}</p> {% endif %}

    <ul class="sidebar-links">
        {% if site.location %}
        <li><i class="fas fa-map-marker-alt"></i> {{site.location}}</li>
        {% endif %}
        {% if site.aff %}
        <li><a href="{{ site.aff_url }}"><i class="fas fa-university"></i> {{ site.aff }}</a></p>
        {% endif %}      
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> Email</a></li>
        {% endif %}
        {% if site.scholar_userid %}
        <li><a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}"><i class="fas fa-graduation-cap"></i> Google Scholar</a></li>
        {% endif %}
        {% if site.orcid_id %}
        <li><a href="https://orcid.org/{{ site.orcid_id }}" class="orcid"><i class="fab fa-orcid"></i> ORCID</a></li>
        {% endif %}
        {% if site.github_username %}
        <li><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i> Github</a></li>
        {% endif %}
        {% if site.research_gate_profile %}
        <li><a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate"><i class="ai ai-researchgate"></i> ResearchGate </a></li>
        {% endif %}
        {% if site.cv %}
        <li><a href="/assets/pdf/{{site.cv}}/" title="CV" target="_blank"><i class="ai ai-cv"></i> CV </a></li>
        {% endif %}

    </ul>
</div>
